.Container {
  width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  margin: 0%;
}

a {
  text-decoration: none;
  color: rgb(83, 82, 82);
}

/*------------------THE SERIN--------------------------*/
.head {
  width: 100%;
  height: 20vh;
  background-color: azure;
}

.The {
  rotate: 270deg;
  font-size: 2em;
  position: absolute;
  left: 43%;
  top: 7vh;
}

.Siren {
  font-size: 3.2em;
  position: absolute;
  left: 49%;
  top: -3vh;
}

/*==============================NAVBAR==============================*/

.linktag2 {
  background-color: pink;
  height: 16vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navtxt {
  font-size: 32px;
  text-shadow: 3px 3px rgb(160, 158, 158);
  /* border: 14px solid pink; */

}

.navtxt:hover {
  color: rgb(252, 3, 119);
  background-color: #34a5ad;
}

/*-----------------------------HOME PAGE-------------------------
--------------------------------------------------------------------*/

/*-------Three images-----------*/
.MAIN-IMAGE {
  display: flex;
  justify-content: center;
  gap: 8vw;
  height: 77vh;
  width: 100%;
  margin-top: 5vh;
}

.GADAR2-img img {
  height: 75vh;
  width: 58vw;
  border-radius: 2%;
  box-shadow: 3px 3px 3px 3px gray;
}

.GADAR2-img img:hover {
  box-shadow: 4px 4px 4px 4px rgb(19, 182, 19);
}

.top-img {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: 60vh;
  width: 35vw;
}

.top-img img {
  border-radius: 2%;
  box-shadow: 3px 3px 3px 3px gray;
  height: 35vh;
  width: 32vw;
}

.top-img img:hover {
  box-shadow: 3px 3px 3px 3px green;
}



/*------------the latest-------------------------------------
-----------------------------------------------------------------*/
.Latest-head {
  text-align: center;
  font-size: 52px;
  color: #044563;
}


.Latest-head:hover {
  text-decoration: underline;
  color: rgb(77, 165, 170);
}

.LatestDiv {
  display: flex;
  justify-content: space-evenly;
  height: 80vh;
  width: 100%;
}

.latestimage {
  width: 25vw;
  height: 36vh;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(5, 73, 73);
}

.Latest-txt-head {
  font-size: 36px;
}

.Latest-txt {
  font-size: 14px;
  width: 29vw;
}

.HomeLatest {
  text-align: center;
}

/*----------------------------LATEST ARTICLE SECTION-------------------
-------------------------------*/

.Article-head {
  font-size: 3rem;
  text-align: center;
  color: rgb(58, 55, 55);
  text-shadow: 3px 3px gray;
}

.Article-head:hover {
  color: #02293b;
}

.ArticleContainer {
  height: 300vh;
  width: 100%;
  display: flex;
  gap: 4vw;
  justify-content: space-around;
}

.secondcolum {
  display: flex;
  flex-direction: column;
  height: 295vh;
  width: 50vw;
  gap: 5vh;
}

.Article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 3px 3px 3px 3px teal;
  height: 34vh;
  width: 45vw;
}


.Articleimages {
  height: 33.2vh;
  width: 20vw;
  box-shadow: 2px 2px 2px 2px gray;
}

.Articletext {
  text-align: center;
  font-size: 15px;
  width: 25vw;
  height: 33vh;
}

/* .Latestimage2 {
  height: 30vh;
  width: 30vw;
} */

.largeimg {
  height: 60vh;
  width: 45vw;
  box-shadow: 3px 3px 3px 3px gray;
  border-radius: 3%;
}

/*-----------advertisment coulmn-----------------*/

.thirdcolumn {
  height: 295vh;
  width: 44vw;
  display: flex;
  flex-direction: column;
}

.Advertisement {
  width: 98%;
  height: 115vh;
  text-align: center;
  color: gray;
  border: 3px solid rgb(75, 141, 167);
  box-shadow: 3px 3px 3px 3px teal;
}

.Advertisement h1 {
  font-size: 3vw;
  margin-top: 50%;
}

/*----------------TOP POST------------------------*/

.Toppost {
  height: 175vh;
  width: 98%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.Toppost h1 {
  font-size: 42px;
  text-shadow: 3px 3px 3px gray;
}

.toparticle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 34vh;
  box-shadow: 3px 3px 3px 3px palevioletred;
}

.TopArticleimg {
  height: 33vh;
  width: 20vw;
  box-shadow: 2px 2px 2px 2px gray;
}


.textt {
  font-size: 14px;
  width: 14vw;
}


/*-------------------latest stories---------------*/


.Storiehead {
  text-align: center;
  font-size: 50px;
}

.StoriesDiv {
  display: flex;
  justify-content: space-evenly;
  height: 70vh;
  width: 100%;
}

.last {
  font-size: 16px;
}

.last p {
  width: 25vw;
  font-size: 14px;
}


/*---------------------FOOTER DESIGN--------------------*/
footer {
  background-color: #49979b;
  padding: 20px 0px;
  width: 100%;
}

.NavIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 28vh;
}

.NavIcons h2 {
  font-size: 42px;
  margin: 0px 5px;
}

.leftNav {
  gap: 3vw;
  display: flex;
  flex-direction: row;
  font-size: 32px;
  color: aliceblue;
}

.icons h2 {
  font-size: 35px;
}

.footer-content {
  font-size: 26px;
  color: aliceblue;
}



/*------------BOLLYWOOD ----------------------============
===============================================================*/

.headingcompo {
  text-align: center;
  font-size: 50px;
}

.headingcompo:hover {
  color: #4db4bb;
}

.maindiv {
  display: flex;
  gap: 5vw;
  width: 100%;
  justify-content: center;
}

.Imagemain {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  height: 515vh;
  width: 52vw;

}

.Container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 3px 3px 3px 3px rgb(15, 92, 92);
  height: 30vh;
  width: 45vw;
}

.AllImages {
  box-shadow: 2px 2px 2px 2px gray;
  height: 29.2vh;
  width: 24vw;
}

.AllText {
  width: 20vw;
  font-size: 1.2vw;

}

/*--------------------Top main2 RIGHT---------------*/

.TopMain2 {
  width: 41vw;
  height: 515vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.ArticleAllOne {
  display: flex;
  flex-direction: column;
  height: 72vh;
  gap: 2vh;
}

.Top {
  font-size: 46px;
  color: #02293b;
  text-align: center;
  text-shadow: 3px 3px skyblue;
}

.singleImageForAll {
  height: 50vh;
  width: 96%;
  box-shadow: 3px 3px 3px 3px gray;
}

.Top2Text {
  width: 30vw;
  height: 20vh;
}

.ArticletextAllone1 {
  height: 19vh;
  width: 41vw;
  font-size: 14px;
  display: flex;
  gap: 2vw;
}

.bigno {
  font-size: 46px;
}

/*-----TOP2 KI SERIES-------------*/

.toppostdiv {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  height: 23vh;
  width: 41vw;
}

.Top2series {
  box-shadow: 4px 4px 4px 4px orchid;
  display: flex;
  flex-direction: row;
  height: 20vh;
  width: 40vw;
  gap: 2vw;
}

.topsmallimg {
  height: 20vh;
  width: 16vw;
}

.number {
  font-size: 1em;
}

.Top2Text {
  width: 16vw;
  font-size: 11px;
}


.Advertise {
  box-shadow: 3px 3px 3px 3px gray;
  height: 212vh;
  width: 40vw;
  color: rgb(87, 86, 86);
  margin-top: 20%;
}

.Advertise h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 90%;
}







/*-----------------------------hamburger-------------=================*/
.hamburger {
  display: none;
}

/*===========================NAVIGATE PAGE DESIGNE==============
==================================================*/
/* .ParentTop {
  border: 2px solid slateblue;
} */

.detail {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
}

.detail h1 {
  text-align: center;
  font-size: 40px;
  color: #02293b;
}

.detail h1:hover {
  color: #7aced4;
}

.socialProfile {
  display: flex;
  flex-direction: row;
}

.Profile {
  display: flex;
  width: 30vw;
  height: 15vh;
  align-items: baseline;
}

.pic {
  height: 10vh;
  width: 5vw;
}

.name {
  font-size: 22px;
}

/*-------social icon-------*/
.Socialmedia {
  display: flex;
}

.sicon {
  height: 10vh;
  width: 4vw;
}

.NavigateImg {
  height: 54vh;
  width: 48vw;
  box-shadow: 4px 4px 4px 4px gray;
  border-radius: 5%;
}

.NavigateImg:hover {
  box-shadow: 4px 4px 4px 4px seagreen;
}

.btn {
  height: 10vh;
  text-align: center;
}

.backbutton {
  background-color: #161616;
  width: 20vw;
  height: 8vh;
  font-size: 20px;
  color: white;
}

.navitext {
  font-size: 22px;
  text-align: center;
  color: #081d1f;
  text-shadow: 2px 2px rgb(103, 157, 177);
}



/*
-----lateset text--------
.text {
  height: 16vh;
  width: 33vw;

}

*/
/*-------------------MEDIA QUERRY ---------------------------
==========================================================
---------------------------------------------------*/

@media (max-width: 767px) and (min-width:300px) {
  /*---------HOME PAGE---------*/

  /*-------Three images-----------*/
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .head {
    background: none;
  }

  .hamburger {
    display: block;
    font-size: 30px;
    height: 8vh;
    width: 12vw;
  }


  .linktag {
    display: flex;
    flex-direction: column;
    background-color: rgb(207, 190, 190);
    text-align: center;
  }

  .navtxt {
    color: #044563;
  }

  .navtxt:hover {
    color: antiquewhite;
    background-color: palevioletred;
  }

  .linktag2 {
    display: none;

  }

  .hambuger-title {
    display: flex;
    justify-content: space-between;
    background-color: #7aced4;
  }

  .navbar {
    background: none;
  }

  /*------------------THE SERIN--------------------------*/
  .head {
    width: 100%;
    height: 15vh;
    /* position: relative; */
  }

  .The {
    rotate: 270deg;
    font-size: 2em;
    position: absolute;
    left: 30%;
    top: 4vh;
  }

  .Siren {
    font-size: 3em;
    position: absolute;
    left: 43%;
    top: -3vh;

  }

  .MAIN-IMAGE {
    flex-direction: column;
    gap: 4vh;
    height: 125vh;
  }

  .GADAR2-img img {
    height: 48vh;
    width: 99%;
  }

  .top-img {
    height: 70vh;
    width: 100%;
  }

  .top-img img {
    height: 32vh;
    width: 99%;
  }

  /*------------the latest---------------*/
  .LatestDiv {
    flex-direction: column;
    justify-content: start;
    height: 200vh;
    width: 100%;
  }

  .latestimage {
    width: 98%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(5, 73, 73);
  }

  .Latest-txt-head {
    font-size: 28px;
  }

  .Latest-txt {
    font-size: 14px;
    width: 98%;
  }

  .HomeLatest {
    text-align: center;
  }

  /*------LATEST ARTICLE SECTION----------------*/

  .Article-head {
    font-size: 2.5rem;
  }

  .ArticleContainer {
    height: 415vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .secondcolum {
    height: 260vh;
    width: 100%;
  }

  .Article {
    height: 30vh;
    width: 98%;
  }

  .Articleimages {
    height: 29.6vh;
    width: 49vw;
  }

  .Articletext {
    font-size: 13px;
    width: 40vw;
    height: 29vh;
  }

  .largeimg {
    height: 45vh;
    width: 99%;
  }

  /*-----------advertisment coulmn-----------------*/

  .thirdcolumn {
    height: 240vh;
    width: 100%;
  }

  .Advertisement {
    display: none;
  }

  /*----------------TOP POST------------------------
  ============================================*/

  .Toppost {
    height: 155vh;
    width: 100%;
  }

  .toparticle {
    width: 97%;
    height: 28vh;
  }

  .TopArticleimg {
    height: 27.5vh;
    width: 50vw;
  }

  .textt {
    width: 24vw;
  }


  /*-------------------latest stories---------------*/


  .Storiehead {
    font-size: 40px;
  }

  .StoriesDiv {
    flex-direction: column;
    justify-content: start;
    height: 165vh;
    width: 100%;
  }

  .last {
    font-size: 17px;
    color: gray;
  }

  .last p {
    width: 95%;
  }

  /*---------------------FOOTER DESIGN--------------------*/
  footer {
    /* padding: 20px 0px; */
    width: 100%;
    height: 35vh;
  }

  .NavIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .NavIcons h2 {
    font-size: 22px;
    margin: 0px 3px;
  }

  .leftNav {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    height: 24vh;
  }


  .icons h2 {
    font-size: 28px;
  }

  .footer-content {
    font-size: 18px;
  }


  /*------------BOLLYWOOD ----------------------===============
  ===============================================================
  =========================================*/


  .headingcompo {
    top: 35vh;
    font-size: 40px;
  }

  .maindiv {
    display: flex;
    flex-direction: column;
    top: 26vh;
    height: 603vh;
    width: 100%;
    justify-content: center;
  }

  .Imagemain {
    height: 390vh;
    width: 100%;

  }

  .Container1 {
    flex-direction: column;
    height: 23vh;
    width: 99.5%;
  }

  .AllImages {
    height: 22.5vh;
    width: 45vw;
  }

  .AllText {
    width: 44vw;
    height: 100%;
    font-size: 12px;

  }

  /*--------------------Top main2 RIGHT---------------*/

  .TopMain2 {
    width: 99.5%;
    height: 240vh;
  }

  .Top {
    font-size: 42px;
  }

  .ArticleAllOne {
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 3vh;
  }

  .singleImageForAll {
    height: 50vh;
    width: 98%;
    box-shadow: 3px 3px 3px 3px gray;
  }

  /* .Top2Text {
    width: 60vw;
    height: 20vh;
  } */

  .ArticletextAllone1 {
    height: 13vh;
    width: 98%;
    font-size: 12px;
    gap: 8vw;
  }

  .bigno {
    font-size: 39px;
  }

  /*-----TOP2 KI SERIES-------------*/

  .toppostdiv {
    box-shadow: 4px 4px 4px 4px orchid;
    gap: 5vh;
    height: 20vh;
    width: 98%;
  }

  .Top2series {
    display: flex;
    flex-direction: row;
    height: 21vh;
    width: 99.5%;
    gap: 3.5vw;
  }

  .topsmallimg {
    height: 19vh;
    width: 50vw;
    box-shadow: 2px 2px 2px 2px gray;
  }


  .Top2Text {
    width: 33vw;
    font-size: 11px;
  }

  .number {
    font-size: 14px;
  }

  .Advertise {
    display: none;
  }

  /*===========================NAVIGATE PAGE DESIGNE==============
==================================================*/

  .detail {
    width: 100%;
    margin-left: 0%;
  }

  .socialProfile {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .Profile {
    display: flex;
    width: 42vw;
    height: 15vh;
    align-items: baseline;
  }

  .pic {
    height: 10vh;
    width: 8vw;
  }

  .name {
    font-size: 22px;
  }

  /*-------social icon-------*/
  .Socialmedia {
    display: flex;
  }

  .sicon {
    height: 8vh;
    width: 12vw;
  }

  .NavigateImg {
    height: 54vh;
    width: 98%;
  }

  .navtext {
    font-size: 18px;
  }

  /*-----lateset text--------*/
  .text {
    height: 20vh;
    width: 99%;

  }
}


/*-------------------MEDIA QUERRY ---------------------------
===========================Media QUERRY===============================
---------------------------------------------------===============
========================================================*/

@media (max-width: 990px) and (min-width:760px) {
  /*---------HOME PAGE---------*/

  /*-------Three images-----------*/
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .head {
    background: none;
  }

  .hamburger {
    display: block;
    font-size: 60px;
    height: 10vh;
    width: 15vw;
  }


  .linktag {
    display: flex;
    flex-direction: column;
    background-color: rgb(207, 190, 190);
    text-align: center;
  }

  .navtxt {
    color: #044563;
  }

  .navtxt:hover {
    color: antiquewhite;
    background-color: palevioletred;
  }

  .linktag2 {
    display: none;
  }

  .hambuger-title {
    display: flex;
    justify-content: space-between;
    background-color: #7aced4;
  }

  .navbar {
    background: none;
  }

  /*------------------THE SERIN--------------------------*/
  .head {
    width: 100%;
    height: 15vh;
  }

  .The {
    font-size: 44px;
    left: 35%;
    top: 5vh;
  }

  .Siren {
    font-size: 60px;
    left: 42%;
    top: -0vh;
  }

  .MAIN-IMAGE {
    flex-direction: column;
    gap: 4vh;
    height: 125vh;
  }

  .GADAR2-img img {
    height: 48vh;
    width: 98%;
  }

  .top-img {
    height: 70vh;
    width: 100%;
  }

  .top-img img {
    height: 32vh;
    width: 98%;
  }

  /*------------the latest---------------========
  =================================*/
  .LatestDiv {
    flex-direction: column;
    justify-content: space-evenly;
    height: 180vh;
    width: 100%;
  }

  .latestimage {
    width: 98%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(5, 73, 73);
  }

  .Latest-txt-head {
    font-size: 34px;
  }

  .Latest-txt {
    color: grey;
    font-size: 22px;
    width: 96%;
  }

  .HomeLatest {
    text-align: center;
  }

  /*------LATEST ARTICLE SECTION----------------*/

  .Article-head {
    font-size: 3rem;
  }

  .ArticleContainer {
    height: 410vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .secondcolum {
    height: 260vh;
    width: 100%;
  }

  .Article {
    height: 30vh;
    width: 98%;
  }

  .Articleimages {
    height: 29.6vh;
    width: 49vw;
  }

  .Articletext {
    font-size: 22px;
    width: 40vw;
    height: 29vh;
  }

  .largeimg {
    height: 45vh;
    width: 98%;
  }

  /*-----------advertisment coulmn-----------------*/

  .thirdcolumn {
    height: 210vh;
    width: 100%;
  }

  .Advertisement {
    display: none;
  }

  /*----------------TOP POST------------------------
  ============================================*/

  .Toppost {
    height: 148vh;
    width: 100%;
  }

  .toparticle {
    width: 98%;
    height: 28vh;
  }

  .TopArticleimg {
    height: 27.5vh;
    width: 50vw;
  }

  .textt {
    width: 24vw;
    font-size: 22px;
  }


  /*-------------------latest stories---------------*/


  .Storiehead {
    font-size: 48px;
  }

  .StoriesDiv {
    flex-direction: column;
    justify-content: start;
    height: 170vh;
    width: 100%;
  }

  .last {
    font-size: 30px;
    color: gray;
  }

  .last p {
    width: 95%;
    font-size: 22px;
  }

  /*---------------------FOOTER DESIGN--------------------*/
  footer {
    background-color: #4db4bb;
    padding: 20px 0px;
    width: 100%;
  }

  .NavIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;

  }

  .NavIcons h2 {
    font-size: 32px;
    margin: 0px 5px;
  }

  .leftNav {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }

  .icons h2 {
    font-size: 35px;
  }

  .footer-content {
    font-size: 17px;
  }


  /*------------BOLLYWOOD ----------------------===============
  ===============================================================
  =========================================*/


  .headingcompo {
    top: 35vh;
    font-size: 45px;
  }

  .maindiv {
    display: flex;
    flex-direction: column;
    top: 26vh;
    height: 598vh;
    width: 100%;
  }

  .Imagemain {
    height: 390vh;
    width: 100%;

  }

  .Container1 {
    flex-direction: column;
    height: 23vh;
    width: 99%;
  }

  .AllImages {
    height: 22.5vh;
    width: 45vw;
  }

  .AllText {
    width: 44vw;
    height: 100%;
    font-size: 22px;

  }

  /*--------------------Top main2 RIGHT---------------*/

  .TopMain2 {
    width: 100%;
    height: 210vh;

  }

  .Top {
    font-size: 48px;
  }

  .ArticleAllOne {
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 3vh;
  }

  .singleImageForAll {
    height: 50vh;
    width: 99%;
    box-shadow: 3px 3px 3px 3px gray;
  }

  /* .Top2Text {
    width: 60vw;
    height: 20vh;
  } */

  .ArticletextAllone1 {
    height: 13vh;
    width: 99%;
    font-size: 20px;
    gap: 8vw;
  }

  .bigno {
    font-size: 40px;
  }

  /*-----TOP2 KI SERIES-------------*/

  .toppostdiv {
    gap: 5vh;
    height: 20vh;
    width: 98%;
  }

  .Top2series {
    height: 21vh;
    width: 100%;
    gap: 3.5vw;
  }

  .topsmallimg {
    height: 19vh;
    width: 45vw;
    box-shadow: 2px 2px 2px 2px gray;
  }


  .Top2Text {
    width: 33vw;
    font-size: 20px;
  }

  .number {
    font-size: 20px;
  }

  .Advertise {
    display: none;
  }

  /*===========================NAVIGATE PAGE DESIGNE==============
==================================================*/

  .detail {
    width: 100%;
    margin-left: 0%;
  }

  .socialProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .Profile {
    display: flex;
    width: 30vw;
    height: 15vh;
    align-items: baseline;
  }

  .pic {
    height: 10vh;
    width: 12vw;
  }

  .name {
    font-size: 26px;
  }

  /*-------social icon-------*/
  .Socialmedia {
    display: flex;
  }

  .sicon {
    height: 6vh;
    width: 12vw;
  }


  .NavigateImg {
    height: 54vh;
    width: 99%;
  }

  .navtext {
    font-size: 18px;
  }

  /*-----lateset text--------*/
  .text {
    height: 20vh;
    width: 99%;

  }

  .backbutton {
    height: 5vh;
    width: 20vw;
  }








}